@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif, Arial;
}

body {
    margin: 0 20%;
}

header h1{
    
    font-size: 3em;
    margin: 20px 0;
    text-align: center;
}

#color-container {
    display: flex;
    width: 100%;
    align-items: center;
    min-height: 70vh;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    gap: 2rem;
    border-radius: 5px;
}

#color-display {
    height: 3rem;
    width: 40%;
    border-radius: 5px;
    background-color: dimgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white;
}

#change-button {
    height: 5vh;
    background-color: dimgrey;
    border-radius: 5px;
    font-size: 14pt;
    font-weight: 700;
    min-width: 20%;
    border: 0;
}

#change-button:hover {

}